@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
  --bs-body-font-family: "PT Sans", sans-serif;
  --bs-body-bg: rgb(40, 40, 40);
  --bs-body-color: white;
}